@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: "Vinci";
    src: url("../fonts/VinciSansRegular.otf");
}
:root{
    --color-primary: #052145;
    --color-secondary: #F59F27;
    --color-terciary: #009669;
    --white: #fff;
    --vinci: "vinci";
}
/*---------Globales----------*/
    .container{
        max-width: 1400px!important;
    }
    .container2{
        max-width: 1200px!important;
        margin: auto;
    }
    @media(min-width: 992px){
        .container2{
            max-width: 1200px!important;
        }
    }
    p{
        font-size: 14px;
        font-family: 'Open Sans';
        font-weight: 300;
    }
    .bg-primary{
        background-color: var(--color-primary)!important;
        color: var(--white);
    }
    .text-primary{
        color: var(--color-primary)!important;
    }
    .text-terciary{
        color: var(--color-terciary) !important;
    }
    .btn-primary{
        background-color: var(--color-primary)!important;
        border: none;
        font-family: 'Open Sans';
        font-weight: 300;
    }
    .btn-secondary{
        background-color: var(--white)!important;
        border: none;
        font-family: 'Open Sans';
        font-weight: bold;
        color: var(--color-primary);
    }
    .btn-terciary{
        background-color: #F7F7FA!important;
        border-radius: 0 10px 0 10px ;
        font-family: 'Open Sans';
        font-weight: bold;
        padding: inherit 20px;
        color: var(--color-primary);
    }
    .btn-terciary:before{
        content: url(../img/utils/tag-yellow.png);
        position: absolute;
        left: -15px;
    }
    .btn-secondary:hover{
        color: var(--color-secondary);
    }
    .fs-2{
        font-size: 17px;
    }
    .fs-3{
        font-size: 35px;
    }
    .fs-4{
        font-size: 4rem;
    }
    .fs-5{
        font-size: 3rem;
    }
    .title{
        position: relative;
    }
    .title:before{
        content: url(../img/utils/formas-circulares.png);
        position: absolute;
        top: -30px;
        left: -15px;
        width: 30px;
        height: auto;
    }
    .title2{
        position: relative;
    }
    .title2:before{
        content: url(../img//utils/formas-circulares-alternas.png);
        position: absolute;
        top: -40px;
        left: -5px;
        width: 30px;
        height: auto;
    }
    .img-fluid-1-4{
        width: 50%;
    }
/*---------Fin Globales----------*/
/*---------Seccion 1 Home----------*/
    .section_uno .carousel-indicators{
        background-color: var(--white);
        border-radius: 40px;
        width: fit-content;
        left: 30%;
    }
    .section_uno .carousel-indicators li{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 5px;
        background-position: center;
        background-size: cover;
        border: 1px solid transparent;
    }
    .section_uno .carousel-indicators li.active{
        border-color: var(--color-secondary);
        transform: scale(1.2);
    }
    .section_uno .carousel-indicators li.active {
        width: 40px;
        height: 40px;
        border: 3px solid transparent;
        border-radius: 50%;
        position: relative;
        box-sizing: border-box;
    }
    .section_uno .carousel-indicators li.active::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        inset:-2px;
        border-radius: 50%;
        border:2px solid var(--color-secondary);
        animation: prixClipFix 5s  linear;
    }
    @media (max-width:768px) {
        .section_uno .carousel-indicators{
            left: 25%;
            bottom: -10px;
        }
        .section_uno .carousel-indicators li{
            width: 25px;
            height: 25px
        }
        .section_uno .carousel-indicators li.active {
            width: 25px;
            height: 25px;
        }
    }
    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }
/*---------Fin seccion 1 Home----------*/
/*---------Seccion 2 Home----------*/

  .section_dos, .section_cuatro{
    padding: 60px 10px;
  }
/*---------Fin Seccion 2 Home----------*/
/*---------Seccion 3 Home----------*/

  .section_tres{
    padding: 100px 10px 60px 10px;
  }
  .section_tres .cite{
    margin-top: -30px;
    margin-left: 40px;
    width: 85%;
  }
  .section_tres h2{
    font-family: 'Open Sans';
    font-size: 2rem;
  }
  .perfil{
    border-radius: 50%;
  }
  @media(max-width:992px){
    .section_tres{
        padding-top: 60px;
    }
    .section_tres .cite{
        margin-top: -20px;
        margin-left: 30px;
        width: 95%;
      }
    .section_tres h2{
        font-size: 1.5rem;
      }
  }
  /*---------Fin Seccion 3 Home----------*/
  /*---------Seccion 4 Home----------*/
  .section_cuatro{
    padding: 60px 0px;
  }
  .section_cuatro h2.title{
    margin-bottom: 40px;
  }
.section_cuatro .grid{
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-column-gap: 30px;
}
.section_cuatro img.border-b{
    border-bottom: 3px solid var(--color-terciary);
    padding-bottom: 15px;
}
.section_cuatro p{
    font-size: 16px;
}
.lh{
    line-height: 24px;
    margin: 0;
    font-family: var(--vinci);
}
.bg-gray{
    background-color: #F7F7FA;
}
div.bg-gray{
    margin-top: -10px;
}
@media (max-width: 992px) {
    .section_cuatro .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .section_cuatro img.mapa{
        width: 50px!important;
    }
}
/*---------Fin Seccion 4 Home----------*/
/*---------Seccion 5 Home----------*/
.section_cinco{
    padding: 60px 30px;
    background-image: url(../img/banner_5.png);
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.section_cinco .ml-negativo{
    background-color: var(--white);
}
.section_cinco .ml-negativo #sliderServicios{
    margin-left: -60px;
}
.section_cinco .ml-negativo #sliderServicios .carousel-item{
    background-color: #fff;
    position: relative;
    padding: 50px 80px;
    min-height: 230px;
}
.section_cinco .carousel-item hr{
    width: 10%;
    position: absolute;
    left: 80px;
    top: 70px;
}
.section_cinco .carousel-control-prev-icon{
    background-image: url(../img/utils/prev.png);
    height: 40px;
    width: 40px;
}
.section_cinco .carousel-control-next-icon{
    background-image: url(../img/utils/next.png);
    width: 40px;
    height: 40px;
}
.section_cinco .carousel-indicators{
    top: -80px;
    height: 30px;
}
.section_cinco .carousel-indicators li{
    text-indent: 0px;
    font-size: 10px;
    width: fit-content;
    height: auto;
    padding: 10px;
    background-color: transparent;
    color: #000;
    opacity: 1;
    transition: color .6s ease;
    border: none;
}
.section_cinco .carousel-indicators li.active{
    color: var(--color-terciary);
    
}
@media(max-width:992px){
    .section_cinco{
        padding: 60px 10px;
    }
    .section_cinco .ml-negativo #sliderServicios{
        margin-left: 0px;
    }
    .section_cinco .ml-negativo #sliderServicios .carousel-item{
        padding: 60px 10px 0px 10px;
        min-height: 200px;
        text-align: center;
    }
    .section_cinco .carousel-indicators{
        top: 0px;
        left: -20px;
        width: 80%;
        text-align: center;
    }
    .section_cinco .carousel-control-prev-icon{
        height: 20px;
        width: 20px;
    }
    .section_cinco .carousel-control-next-icon{
        width: 20px;
        height: 20px;
    }
    .section_cinco .carousel-control-next{
        margin-right: -20px;
    }
    .section_cinco .carousel-control-prev{
        margin-left: -20px;
    }
}
/*---------Fin Seccion 5 Home----------*/
/*---------Notices Home----------*/
.section_notices{
    padding: 80px 30px;
}
.section_notices .card{
    background-color: transparent;
    border: none;
    position: relative;
}
.section_notices .card .card-img-top{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: end;
    padding: 20px 10px;
}
.section_notices .card .card-img-top h3{
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 16px;
}
.section_notices .card .card-body{
    padding: 30px 10px;
}
/*---------Section 6 Home----------*/
.section-seis{
    padding: 60px 30px;
}
.section-seis .b-r{
    border-right: 3px solid var(--color-terciary);
}
.section-seis .b-b{
    border-bottom: 3px solid var(--color-terciary);
}
.section-seis p.m-negativo{
    margin-top: -20px;
}
.section-seis .w-90{
    max-width: 90%;
}
.section-seis p.subrayado{
    background-color: #F7F7FA;
    color: #000;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
}
@media(max-width:992px){
    .section-seis{
        padding: 30px 30px 0px 30px;
    }
    .section-seis .b-r{
        border-right: none;
    }
    .section-seis .b-bm{
        border-bottom: 3px solid var(--color-terciary);
    }
}
/*---------Section 7 Home----------*/
.section-siete{
    padding: 60px 30px;
}
.section-siete hr{
    width: 10%;
    background-color: var(--color-terciary);
    height: 3px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.section-siete .btn-terciary{
    position: relative;
    box-shadow: 10px 7px 15px 0px rgba(0,0,0,0.1);
    transition: transform .5s ease;
}
.section-siete .btn-terciary:hover{
    transform: scale(1.1);
}
@media(max-width:992px){
    .section-siete{
        padding: 30px;
    }
}
/*---------Section 8 Home----------*/
.section-ocho{
    padding: 100px 30px;
    background-color: #000;
}
/*---------Section 9 Home----------*/
.section-nueve{
    padding: 60px 30px;
}
@media(max-width:768px){
    .section-nueve{
        padding: 30px 30px;
    }
    .section-nueve .d-flex{
        flex-wrap: wrap;
    }
    .section-nueve .d-flex div{
        width: 33%;
        margin: 10px 0;
    }
}